{
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "next/core-web-vitals",
    "plugin:@next/next/recommended"
  ],
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"]
}
