meta(charset='UTF-8')
meta(name='viewport' content='width=device-width, initial-scale=1.0')
meta(http-equiv='X-UA-Compatible' content='ie=edge')
link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css')

//- Robotofont
link(rel='preconnect' href='https://fonts.gstatic.com')
link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap')
link(rel='stylesheet' href='/css/custom.css')
link(rel='stylesheet' href='/css/username.css')
script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
title Watch Mega
