doctype html
head
  include head
  link(rel="stylesheet" href="https://vjs.zencdn.net/7.8.4/video-js.css")
  link(rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css")
.app
  header
    include navbar
    +navbar("watch")
  body.bg-dark
    .container
      .row
        .col-md-9.m-auto.pt-4
          script(src='/js/watch.js')
          video#video.video-js.vjs-fill(controls)
            source#video-source(src="video" type='video/mp4')
            track#subs(src="subs" kind="captions" label="English" default)
          //- video#video.video-js.vjs-16-9.vjs-big-play-centered(controls data-setup='{}')
            source#video-source(src="video" type='video/mp4')
            //- track#subs(src="subs" kind="captions" label="English" default)
      .row
        .col-4.m-auto.pt-4
          .card.bg-secondary
            .card-header.p-0
              button.btn.bg-secondary.w-100.h-100#collapse
                i.fa.fa-angle-right.arrow.text-justify-left
                span#count 1 user currently watching
            #users.collapse
              .card-body
                table.table.table-dark.bg-secondary.text-dark.mb-0#users-table
                  tbody
    script(src='https://vjs.zencdn.net/7.8.4/video.js')
    script(type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js")
