doctype html
head
  include head
  script(src="socket.io/socket.io.js")
  script(src="js/socket.js")
  link(rel="stylesheet" href="css/toastify.css")
  link(href="css/vjs-lime.css" rel="stylesheet")
  link(href="https://unpkg.com/video.js/dist/video-js.min.css" rel="stylesheet")
  script(src="https://unpkg.com/video.js/dist/video.min.js")
.app
  header
    include navbar
    +navbar("watch")
  body.bg
    .container
      .row.pt-4.justify-content-center
        .col-1
          button.btn.bg-c-secondary.text-white.h-100.w-100#prevep
            h4.mb-0 &lt;
        .col-10.m-auto
          .alert.alert-dark.bg-c-secondary.mb-0(role="alert" style="border-style: none")
            h5.text-center.text-highlight.mb-0#videoname #{videoName}
        .col-1
          button.btn.bg-c-secondary.text-white.h-100.w-100#nextep
            h4.mb-0 &gt;
      .row
        .col-md-9.m-auto.pt-4
          script(src='/js/watch.js')
          video#video.video-js.vjs-fluid.vjs-lime(controls, preload="auto")
            source(src="video" type='video/mp4')
      .row
        .col-4.m-auto.pt-4
          .card.bg-c-secondary
            .card-header.p-0
              button.btn.bg-c-secondary.w-100.h-100#collapse
                i.fa.fa-angle-right.arrow.text-justify-left
                span.text-white#count #{count}
            #users.collapse
              .card-body
                table.table.table-dark.bg-c-secondary.text-dark.mb-0#users-table
                  tbody.text-white
      .row
        .col-2.m-auto.pt-4.d-flex.justify-content-center
          div.form-outline
            label.form-label.text-white(for="suboffset") Subtitle delay
            div.input-group
              input.form-control.black-border-solid#suboffset(type="number" step="50" value="0")
              div(class="input-group-append")
                span.bg-c-secondary.text-white.black-border-solid(class="input-group-text") ms

    // modal for joining playing video
    #joinroom.modal.fade.text-white
      .modal-dialog.modal-dialog-centered(role='document')
        .modal-content.bg-c-secondary
          .modal-body.d-flex.flex-column.justify-content-center
            h2.text-center.p-3 Welcome to WatchMega
            p.text-center The video is already playing
            button#dismiss.btn.btn-success.p-2(type='button')
              h5.mb-0 Start watching
    script(type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js")
