doctype html
head
  title Watch Mega | Login
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible" content="ie=edge")
  link(rel="preconnect" href="https://fonts.gstatic.com")
  link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap")
  link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css")
  link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css")
  link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js")
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js")
  script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js")
  script
    include ../public/js/login.js
  style
    include ../public/css/custom.css
body#login-body.d-flex.bg.justify-content-center.align-items-center
  .row.h-100
    form.my-auto.d-flex.flex-column
      .form-group
        label.form-label.text-white(for="password")
          h3 Enter access code
        input#password.form-control.black-border-solid.text-center(type="password")
        .invalid-feedback Access code incorrect
      .form-group.mx-auto
        button#submit.btn.bg-c-secondary.text-white
          span#spinner.spinner-border.spinner-border-sm(role="status" style="display: none")
          |  Submit
