mixin navitem(link, text, active)
  li.nav-item(class=active && 'active')
    a.nav-link(href=link class=active && 'text-info')= text


mixin navbar(tab)
  nav.navbar.navbar-expand.navbar-dark.bg-secondary
    h1.navbar-brand.mb-0(href='#')
      b Watch Mega
    ul.navbar-nav.mr-auto
      +navitem("/", "Watch", (tab == "watch"))
      +navitem("/select", "Select", (tab == "select"))
      +navitem("/upload", "Upload", (tab == "upload"))
      +navitem("/torrent", "Torrent", (tab == "torrent"))
