mixin navbar(tab)
  nav.navbar.navbar-expand.navbar-dark.bg-secondary
    h1.navbar-brand.mb-0(href='#') Watch Mega
    ul.navbar-nav.mr-auto
      li.nav-item
        a.nav-link(href='/') Watch
      li.nav-item
        a.nav-link(href='/select') Select
      li.nav-item
        a.nav-link(href='/upload') Upload
