doctype html
head
  include head
.app
  header
    include navbar
    +navbar("select")
  body.bg-dark
    .container
      .row.justify-content-center
        .col-5
          h3.text-center.mt-5
            a(href='/list') Choose file by right clicking and using &quot;Copy Link Location&quot;
      .row.justify-content-center
        .col-5.mt-5
          form(action='/select' method='POST')
            input#fileName.form-control(type='text' name='selection' placeholder='Paste link here')
            input.btn.btn-secondary.mt-5(type='submit' value='Select')
  include bootstrap
