doctype html
head
  include head
.app
  header
    include navbar
    +navbar("torrent")
  body.bg-dark
    .container
      .row
        .col-4.m-auto.py-4.justify-content-center
          form(action="" method="post").form-inline.d-flex.flex-nowrap
            input.form-control(type="text" name="magnet" placeholder="magnet:?xt=urn:btih:")
            button.btn.btn-secondary.ml-4(type="submit") Download
      .row
        .col-10.m-auto
          table.table.table-dark.table-striped(style="table-layout: fixed;")

            thead(style="")
              tr
                th(style="width: 55%;") Torrents
                th(style="width: 35%;")
                th(style="width: 10%;")
            tbody
    template#torrentrow
      tr
        td.align-middle.text-truncate.my-1 aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        td.align-middle
          .progress.align-self-center(style="height: 20px;")
            .progress-bar.progress-bar-striped.progress-bar-animated.bg-info(role="progressbar" style="width: 100%") 100%
        td
          button.btn.btn-sm.btn-outline-danger.m-1 X
  include bootstrap
  script(src="/js/torrent.js")
