script#template-upload(type='text/x-tmpl').
    {% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-upload">
    <td class="align-middle">
    <h5 class="name text-light my-0">{%=file.name%}</h5>
    <strong class="error badge badge-danger"></strong>
    <button class="start" style="display: none;"></button>
    <button class="cancel" style="display: none;"></button>
    </td>
    <td class="align-middle">
        <div class="progress" role="progressbar" style="height:30px; display:grid;">
            <div class="progress-bar progress-bar-striped bg-info" style="width:0%;grid-row:1;grid-column:1;"></div>
            <h6 class="text-dark progress-extended d-flex position-relative justify-content-center my-0 align-items-center size" style="height: inherit; width: 100%;grid-row:1;grid-column:1;"></h6>
        </div>
    </tr>
    {% } %}

script#template-download(type='text/x-tmpl').
    {% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-download">
    <td class="align-middle">
    <h5 class="text-light name my-0">
    {%=file.name%}
    </h5>
    {% if (file.error) { %}
    <div><span class="badge badge-danger">Error: {%=file.error%}</span></div>
    {% } %}
    </td>
    <td class="align-middle">
    <h5 class="text-light"> Finished</h5>
    </td>
    </tr>
    {% } %}
