doctype html
head
  include head
  link(rel='stylesheet' href='css/upload/jquery.fileupload.css')
  link(rel='stylesheet' href='css/upload/jquery.fileupload-ui.css')
.app
  header
    include navbar
    +navbar("upload")
  body.bg-dark
    .container
      .row.mt-5.justify-content-center
        .col-10
          form#fileupload(action='' method='POST' enctype='multipart/form-data')
            .row.fileupload-buttonbar.flex-nowrap
              .col-lg-5.d-flex.flex-nowrap
                // control buttons
                span.mx-2.btn.btn-info.fileinput-button
                  span Add files
                  input(type='file' name='files[]' multiple='')
                button.mx-2.btn.btn-secondary.start(type='submit')
                  span Upload
                button.mx-2.btn.btn-default.cancel(type='reset')
                  span Cancel
                span.fileupload-process
              .col-lg-7.fileupload-progress
                .progress.align-self-center.h-100
                  .progress-bar.progress-bar-striped.bg-info.w-0
                  h6.progress-extended.d-flex.w-100.h-100.position-absolute.justify-content-center.my-0.align-items-center(style='left: 0;')
            // file upload table
            table.table.table-borderless.table-dark.mt-5(role='presentation')
              thead(style="")
                tr
                  th.text-light(style="width: 60%;")
                    h3.my-0 Files
                  th(style="width: 40%;")
                  th(style="width: 0%;")
              tbody.files
  include upload_template
  script(src='js/upload/jquery.min.js')
  script(src='js/upload/vendor/jquery.ui.widget.js')
  script(src='js/upload/tmpl.min.js')
  script(src='js/upload/jquery.fileupload.js')
  script(src='js/upload/jquery.fileupload-process.js')
  script(src='js/upload/jquery.fileupload-validate.js')
  script(src='js/upload/jquery.fileupload-ui.js')
  script(src='js/upload.js')
