script#template-upload(type='text/x-tmpl').
    {% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-upload">
    <td class="align-middle">
    <p class="name text-light my-0">{%=file.name%}</p>
    <strong class="error text-danger"></strong>
    </td>
    <td class="align-middle">
    <div class="progress progress-striped align-middle active" role="progressbar" style="height:30px;">
        <div class="progress-bar progress-bar-success" style="width:0%;"></div>
        <h6 class="progress-extended d-flex position-relative justify-content-center my-0 align-items-center size" style="left: 0; height: inherit; width: 100%;">
        Processing...
        </h6>
    </div>
    </td>
    <td>
    {% if (!o.options.autoUpload && o.options.edit && o.options.loadImageFileTypes.test(file.type)) { %}
    <button class="btn btn-success edit" data-index="{%=i%}" disabled>
    <span>Edit</span>
    </button>
    {% } %}
    {% if (!i && !o.options.autoUpload) { %}
    <button class="btn btn-primary text-light start" disabled>
    <span>Start</span>
    </button>
    {% } %}
    {% if (!i) { %}
    <button class="btn btn-warning text-light cancel">
    <span>Cancel</span>
    </button>
    {% } %}
    </td>
    </tr>
    {% } %}

script#template-download(type='text/x-tmpl').
    {% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-download">
    <td>
    <span class="preview">
    {% if (file.thumbnailUrl) { %}
    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery><img src="{%=file.thumbnailUrl%}"></a>
    {% } %}
    </span>
    </td>
    <td>
    <p class="name">
    {% if (file.url) { %}
    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" {%=file.thumbnailUrl?'data-gallery':''%}>{%=file.name%}</a>
    {% } else { %}
    <span>{%=file.name%}</span>
    {% } %}
    </p>
    {% if (file.error) { %}
    <div><span class="label label-danger">Error</span> {%=file.error%}</div>
    {% } %}
    </td>
    <td>
    <span class="size">{%=o.formatFileSize(file.size)%}</span>
    </td>
    <td>
    {% if (file.deleteUrl) { %}
    <button class="btn btn-danger delete" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}"{% if (file.deleteWithCredentials) { %} data-xhr-fields='{"withCredentials":true}'{% } %}>
    <i class="glyphicon glyphicon-trash"></i>
    <span>Delete</span>
    </button>
    <input type="checkbox" name="delete" value="1" class="toggle">
    {% } else { %}
    <button class="btn btn-warning cancel">
    <i class="glyphicon glyphicon-ban-circle"></i>
    <span>Cancel</span>
    </button>
    {% } %}
    </td>
    </tr>
    {% } %}
