body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

/* remove outlines */
*:focus {
  outline: none !important;
}

.bg {
  background: #212529;
}

.bg-c-secondary {
  background: #65008c;
}

.text-highlight {
  color: #ebc82d;
}

.btn:focus {
  box-shadow: none;
}
