body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

/* remove outlines */
*:focus {
  outline: none !important;
}

.bg {
  background: #212529;
}

.bg-c-secondary {
  background: #65008c;
}

.text-highlight {
  color: #ebc82d;
}

.btn:focus {
  box-shadow: none;
}

.black-border-solid {
  border: 1px solid #000;
}

#login-body {
  position: absolute;
  width: 100%;
  height: 100%;
}
